#XfcePanelWindow {
    border-radius: 10px;
}

#whiskermenu-button label {
    color: #d79921;
    font-weight: bold;
}

#whiskermenu-button:hover {
    border-radius: 10px;
}

.xfce4-panel .tasklist .toggle {
    background-color: transparent;
    border-radius: 10px;
}

.xfce4-panel .tasklist .toggle :hover {
    color: #3c3836
}

/*Launcher*/
#launcher-arrow:hover {
    border-radius: 10px;
}